/* * {

} */

body {
    background-color: aquamarine;
}

/* Get otp form */
#getotp-container {
    display: block;
}

/* Verification form */
#verify-container {
    display: none;
}

/* Signup Form */
#signup-container {
    display: none;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=number], input[type=password] {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    background: white;
}

/* When the inputs get focus, do something */
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus {
    border-color: rgb(84, 105, 212);
    outline: none;
}

#title {
    text-align: center;
    padding: 0;
    margin: 10px 0px 20px 0px;
}

#signin {
    padding: 0;
    margin: 0;
    text-align: center;
}

#signin-btn {
    font-weight: bold;
    padding: 5px;
    border: none;
    color: rgb(84, 105, 212);
    background: none;
    cursor: pointer;
}

#signup-container #user-email, #user-ph-no {
    font-size: 16px;
    color: green;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

/* Full-width input fields */
label{
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Selector for school and college */
.institute-name {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 50%;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

#select-school {
    /* display: none; */
}
#select-college {
    display: none;
}

/* Institute name field */
#institute-tf {
    /* display: none; */
    margin-top: 10px;
}

/* Set a style for the submit/login button */
.sub-btn {
    background-color: rgb(84, 105, 212);
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: 3px solid white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

/* Add a red background color to the cancel button */
.cancel-btn {
    background-color: rgb(255, 30, 0);
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: 3px solid white;
    cursor: pointer;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 5px;
}
