
body {
    background-color: azure;
}


/* Style form container */
.form-container {
    display: block;
    font-family: Georgia, 'Times New Roman', 'Trebuchet MS', 'Lucida Sans Unicode';
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 40px 70px 40px 70px;
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 600px;
    background-color: white;
    box-shadow: 5px 5px 5px whitesmoke;
}

/* Style title of forms */
#title {
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 10px 0px 30px 0px;
}

hr {
    padding: 0;
    margin: 0 5px 0 5px;
    color: rgb(84, 105, 212);
}

/* Style input field labels */
label {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    margin: 20px 0 0px 10px;
}

/* Style input fields */
input[type=text], input[type=email], input[type=number], input[type=password] {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin: 5px 0 0 0;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3px;
    -moz-appearance: textfield;
}
/* Remove arrow button from number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

/* Style input fields when focused */
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus {
    box-shadow: 2px 2px rgb(208, 200, 200);
    background: whitesmoke;
    outline: none;
}

/* .btns {
    text-align: center;
} */

/* Style cencel button */
.cancel-btn {
    background-color: rgb(255, 30, 0);
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: 3px solid white;
    cursor: pointer;
    width: 100%;
    margin: 10px 0 0 0;
    border-radius: 5px;
}


/***** Style for get otp form *****/

/* Style GET-OTP button */
#getotp-form {
    display: inline-block;
}
.getotp-btn {
    background-color: rgb(84, 212, 112);
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: 3px solid white;
    cursor: pointer;
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 5px;
}

/***** Style for verify otp form *****/

/* Style VERIFY-OTP button */
#verify-otp-form {
    display: none;
}
.verify-otp-btn {
    background-color: rgb(84, 212, 112);
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: 3px solid white;
    cursor: pointer;
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 5px;
}
